# SD212: Graph mining

## Saving a dataset

This notebook shows how to save your dataset as a ``Bunch`` object.

In [1]:
from sknetwork.data import erdos_renyi # to generate fake data
from sknetwork.data import Bunch, save

In [14]:
import pickle
import pandas as pd

In [15]:
# your names
name = 'CHHY_MAI'

In [16]:
# fake data
anime_df = pd.read_csv('data/anime.csv', header=0, encoding = 'ISO-8859-1')

In [17]:
anime_df

,anime_id,name,genre,type,episodes,rating,members
0,5114,b'Fullmetal Alchemist: Brotherhood',"['Action', 'Adventure', 'Drama', 'Fantasy']",TV,64.0,9.14,2893493
1,28977,b'Gintama\xc2\xb0',"['Action', 'Comedy', 'Sci-Fi']",TV,51.0,9.08,536990
2,9253,b'Steins;Gate',"['Drama', 'Sci-Fi', 'Suspense']",TV,24.0,9.08,2245646
3,38524,b'Shingeki no Kyojin Season 3 Part 2',"['Action', 'Drama']",TV,10.0,9.07,1847582
4,9969,"b""Gintama'""","['Action', 'Comedy', 'Sci-Fi']",TV,51.0,9.05,473413
...,...,...,...,...,...,...,...
195,9617,b'K-On! Movie',"['Comedy', 'Slice of Life']",Movie,1.0,8.35,294502
196,17389,b'Kingdom 2nd Season',['Action'],TV,39.0,8.35,103013
197,22535,b'Kiseijuu: Sei no Kakuritsu',"['Action', 'Horror', 'Sci-Fi']",TV,24.0,8.35,1636938
198,49909,b'Kotarou wa Hitorigurashi',"['Comedy', 'Slice of Life']",ONA,10.0,8.34,76773
199,37515,b'Made in Abyss Movie 2: Hourou Suru Tasogare',"['Adventure', 'Drama', 'Fantasy', 'Mystery', '...",Movie,1.0,8.35,94758

In [18]:
rating_df = pd.read_csv('data/rating.csv', header=0, encoding = 'ISO-8859-1')
rating_df

              username  anime_id  rating
0             Lachawla         1      -1
1                Dubba         1       9
2              epicene         1      10
3            Effloress         1      -1
4        JeSuisGarrick         1      -1
...                ...       ...     ...
74395       bxrrylatte      9969      -1
74396       KarolusZan      9969      -1
74397           bilwor      9969      -1
74398  JezusAntychryst      9969      -1
74399       Ragnarok82      9969      -1

[74400 rows x 3 columns]

In [6]:
# check
10**3 < adjacency.nnz < 10**6

True

In [20]:
dataset = Bunch()

In [23]:
dataset.anime_df = anime_df
dataset.rating_df = rating_df

In [25]:
dataset

{'anime_df':      anime_id                                            name  \
 0        5114             b'Fullmetal Alchemist: Brotherhood'
 1       28977                              b'Gintama\xc2\xb0'
 2        9253                                  b'Steins;Gate'
 3       38524           b'Shingeki no Kyojin Season 3 Part 2'
 4        9969                                     b"Gintama'"
 ..        ...                                             ...
 195      9617                                  b'K-On! Movie'
 196     17389                           b'Kingdom 2nd Season'
 197     22535                   b'Kiseijuu: Sei no Kakuritsu'
 198     49909                     b'Kotarou wa Hitorigurashi'
 199     37515  b'Made in Abyss Movie 2: Hourou Suru Tasogare'

                                                  genre   type  episodes  \
 0          ['Action', 'Adventure', 'Drama', 'Fantasy']     TV      64.0
 1                       ['Action', 'Comedy', 'Sci-Fi']     TV      51.0
 2                      ['Drama', 'Sci-Fi', 'Suspense']     TV      24.0
 3                                  ['Action', 'Drama']     TV      10.0
 4                       ['Action', 'Comedy', 'Sci-Fi']     TV      51.0
 ..                                                 ...    ...       ...
 195                        ['Comedy', 'Slice of Life']  Movie       1.0
 196                                         ['Action']     TV      39.0
 197                     ['Action', 'Horror', 'Sci-Fi']     TV      24.0
 198                        ['Comedy', 'Slice of Life']    ONA      10.0
 199  ['Adventure', 'Drama', 'Fantasy', 'Mystery', '...  Movie       1.0

      rating  members
 0      9.14  2893493
 1      9.08   536990
 2      9.08  2245646
 3      9.07  1847582
 4      9.05   473413
 ..      ...      ...
 195    8.35   294502
 196    8.35   103013
 197    8.35  1636938
 198    8.34    76773
 199    8.35    94758

 [200 rows x 7 columns],
 'rating_df':               username  anime_id  rating
 0             Lachawla         1      -1
 1                Dubba         1       9
 2              epicene         1      10
 3            Effloress         1      -1
 4        JeSuisGarrick         1      -1
 ...                ...       ...     ...
 74395       bxrrylatte      9969      -1
 74396       KarolusZan      9969      -1
 74397           bilwor      9969      -1
 74398  JezusAntychryst      9969      -1
 74399       Ragnarok82      9969      -1

 [74400 rows x 3 columns]}

If necessary, fill other fields:

In [9]:
# dataset.names = ...
# dataset.labels = ...
# dataset.biadjacency = ...

Provide details about the dataset (source, extraction, etc.)

In [27]:
meta = Bunch()

In [28]:
meta.name = 'Anime recommendation dataset'
meta.description = '''The data consists of:
- Information about the top 200 anime in MyAnimeList
- The user updates about those anime'''
meta.date = 'June 2022'

In [29]:
dataset.meta = meta

In [30]:
with open(name, 'bw') as f:
    pickle.dump(dataset, f)